[submodule "flex-theme"]
	path = flex-theme
	url = git@github.com:alexandrevicenzi/Flex.git
[submodule "clean-blog-theme"]
	path = clean-blog-theme
	url = git@github.com:gilsondev/pelican-clean-blog.git
